/* src/components/Instruments/PianoKeyboard.css */

.piano-container {
    display: flex;
    background-color: #1e1e1e;
    padding: 15px;
    border-radius: 8px;
    width: max-content;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    margin: 0 auto 20px auto; /* Centré par défaut */
}

.piano-key {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 8px;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s;
}

.white-key {
    width: 50px; /* Agrandies naturellement ! */
    height: 200px; /* Agrandies naturellement ! */
    background-color: #fffff0;
    color: #333;
    border: 1px solid #ccc;
    z-index: 1;
}

.black-key {
    width: 34px;
    height: 120px;
    background-color: #222;
    color: #aaa;
    z-index: 2;
    /* Astuce des marges ajustée à la nouvelle largeur des touches */
    margin-left: -17px;
    margin-right: -17px;
    border: 1px solid #000;
}

.white-key.active {
    background-color: #bb86fc;
    color: #000;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}

.black-key.active {
    background-color: #9c27b0;
    color: #fff;
}

.note-label {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}